/* ----------------------- COLORS ----------------------- */

$color-primary: #02557d;
$color-primary-dark: #08364e;
$color-secondary: #ffb749;
$color-secondary-dark: #e4aa56;
$color-tertiary: #efefef;
$color-white: white;

/* ---------------------- TRANSition ---------------------- */

$transition: (
    fast: all 300ms,
    medium: all 600ms,
    slow: all 300ms,
);
