/* ----------------------- COLORS ----------------------- */

$color-primary: #02557d;
$color-primary-dark: #08364e;
$color-secondary: #ffb749;
$color-tertiary: #e5e5e5;
$color-white: white;

/* ---------------------- TRANSFOR ---------------------- */

$transform: (
    fast: 300ms all,
    medium: 600ms all,
    slow: 300ms all,
);
