@use "../1-base/variable" as var;

.modal-content-r {
    width: 100%;
    position: fixed;
    height: 100%;
    background: white;
    left: -100%;
    transition: all 600ms;
    top: 0;
    z-index: 20;
    padding: 50px;
    &.active {
        left: 0;
    }
}
.modal-img {
    width: min(500px, 100%);
}

.close-modal {
    font-size: 2rem;
    position: absolute;
    top: 50px;
    right: 50px;
    background: transparent;
    border: none;
    &:hover {
        color: var.$color-secondary;
    }
}
